#body_content{
	background: url('../img/page_bg.jpg') top center no-repeat; 
    background-size:cover;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}
.content_box{width:1300px; margin:0 auto;}
/*数据框Strart*/
#center_data{
	margin-top:10px;
    width:200px;
}
#input_data_box,#box-form{
    width:200px;
    min-height:240px;
    margin-left:8px;
    padding:10px 10px;
    border: 3px solid #ffc600;
    border-radius: 8px;
    background-color: #fff;
}
#review_form{
	margin-top:10px;
	margin-left:8px;
    width:420px;
	padding:10px 10px;
    border: 3px solid #ffc600;
    border-radius: 8px;
    background-color: #fff;
}

#input_data_box>.input_data_type{
    line-height: 20px;
    font-size: 14px;
    color: #000;
    margin-bottom:10px;
}
#input_data_box input,#input_data_box select{
    width:100%;
    height:26px;
    line-height:26px;
    padding:0 10px;
    margin-bottom:10px;
}
#input_data_box>button{
    margin-left:23px;
}
#input_data_box>.input_prompt{
    color:red;
    font-size: 12px;
    text-align: center;
    margin-top:5px;
}
/*数据框End*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,li{
	list-style:none;
}

/*一二级属性选框*/
.clearfix{
    zoom:1;
}
.clearfix:after{
    content: "";
    display: block;
    height:0;
    clear: both;
}
.cont_l,.cont_r{
    float: left;
    min-height: 600px;
}
.cont_l{
    width:800px;
}
.cont_r{
    width:410px;
}

.rect_selects{
    width:420px;
    height:100%;
    padding:5px;
    color: #fff;
    border-radius: 5px;
    background-color:rgba(25, 21, 21, 0.3);
}
.rect_selects>ul{    
    border-bottom:1px solid #fff;
	list-style: none;
	margin: 0px;
    padding: 0px;
	padding-bottom:2px;
    box-sizing: border-box;
}
.rect_selects>ul>li{
    float: left;
    font-size: 14px;
    padding:4px 14px;
    cursor: pointer;
    border-radius: 3px;
	list-style: none;
}
.rect_selects>ul>.cur_one_floor{
    background-color: #fff;
    color: #ffc600;
}
.rect_selects>.pic_attr{
    width:100%;
}
.rect_selects>.pic_attr>.pic_items{
    float: left;
    width:95px;
    height: 95px;
    margin:5px 6px 0 0;
    background-color: #fff;
    border-radius: 5px;
}
/*一二级属性选框*/

/*左侧显示隐藏，返回按钮部分*/
.group_btn_l button{
    border:none;
    outline: none;
    cursor: pointer;
}
.group_btn_l{
    float: right;
    width:27px;
    padding-right:3px;
    margin: 0;
    margin-top:30px;
    margin-right: 2px;
    padding: 0;
    box-sizing: border-box;
}
.group_btn_l li{
    margin-bottom:16px;
	list-style: none;
}
.group_btn_l li>button{
    width:100%;
    min-height: 50px;
    padding:0px 0;
    color: #fff;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 3px;
    background-color: #ffc600;
}
#work-space-header span{
    background-color:rgba(25, 21, 21, 0.3); 
    border-radius: 5px;
    padding: 5px 10px;
    float: left;
    margin-bottom: 2px;
    margin-right: 2px;
    min-width: 150px;
}
/*质检框*/
.valid_form{
    float:left;
    width:400px;
    height:385px;
    padding:5px 15px;
    font-size: 14px;
    background-color: rgba(25, 21, 21, 0.3);
    border-radius: 8px;
    margin-top:4px;
    margin-left:2px;
    text-align: left;
}
.valid_form .label_input{
    font-size: 16px;
    color: #000;
    margin:10px 0;
}
#check_inp{
    width:100%;
    height:120px;
    resize: none;
}
.valid_btn_group{
    margin-top:10px;
}
.valid_btn_group>button{
    width:180px;
    height:38px;
    margin-bottom:5px;
    border-radius: 5px;
    line-height:38px;
    font-size: 18px;
    color: #fff;
}
.valid_btn_group>button:nth-child(odd){
    margin-right:5px;
}
/*质检按钮颜色*/
#valid_qualified{
    background-color: #95d195;
}
#valid_unqualified{
    background-color: #d9534f;
}
#repulse{
    background-color: #f5ca8c;
}
#tem_save{
    background-color: #ffc600;
}
#complete{
    background-color: #00acdd;
}
#next{
    background-color: #eb832c;
}